/excercises/excercise_1/echoClientServer/nbproject/
/excercises/excercise_1/echoClientServer/build/
/excercises/excercise_1/echoClientServer/test/
/excercises/excercise_1/echoClientServer/build.xml
/excercises/excercise_1/echoClientServer/manifest.mf