/excercises/excercise_1/echoClientServer/nbproject/
/excercises/excercise_1/echoClientServer/build/
/excercises/excercise_1/echoClientServer/test/
/excercises/excercise_1/echoClientServer/build.xml
/excercises/excercise_1/echoClientServer/manifest.mf
/projects/project1/nbproject/
/projects/project1/build/
/projects/project1/test/
/projects/project1/build.xml
/projects/project1/manifest.mf
/excercises/exercise_2/Exercise2/nbproject/
/excercises/exercise_2/Exercise2/build/
/excercises/exercise_2/Exercise2/test/
/excercises/exercise_2/Exercise2/build.xml
/excercises/exercise_2/Exercise2/manifest.mf